@model LearningSystem.Services.Blog.Models.DetailsArticleServiceModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="container">
    <h2>@Model.Title</h2>
    <hr />

    <h4>Published on @Model.PublishDate by @Model.Author</h4>

    <br />
    @Html.Raw(Model.Content)

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
